<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
	

</html>
<body>

<div class="container-fluid">
	<div class="row">
		
			{% block header %}
			{% endblock %}
		</div>
	</div>
		<div class="col-md-12">
			{% block main %}
			{% endblock %}	
		</div>
	<div class="row">
		<div class="col-md-12 footer">
			{%  block footer %}
            {%  endblock %}
		</div>
	</div>
</div>

    {# <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>
       $(document).ready(function(){
           ///code goes here!
            /// clicking function for stars
            $(".star").click(function(){
                   ///variable value takes the data-value of the span that is clicked
                var value = $(this).attr("data-value");
                ///each() function loops through all the DOM elements of class star
               $('.star').each((index, elem) => {
                    ///removes the red-class from the stars when clicked again
                    $(elem).removeClass("red");
                ///sets variable itemValue with the attribute data-value of class elem (in this case star) with the value for each object
                    var itemValue = $(elem).attr('data-value');
                   ///checks if the itemValue is smaller than the clicked value and if it is, make the color of the element red (thus all previous stars because it loops through each attribute)
                   if(itemValue <= value){
                       $(elem).addClass("red");
                   }
               })
                $.ajax({
                url: "https://api.dev-master.ninja/js/rating",
                method: "POST",
                data: { rating: value },
                success: function(response) {console.log(response) }
	            })
                    
                console.log(value);
                $(this).addClass("red");
                    
           })
                
        });
		
    </script>

</body>
